.slideshow-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
}

.slideshow-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.8);
}

.slideshow-container img {
  width: 100%;
  object-fit: cover;
  height: 60vh;
}

/* .prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px 15px;
    z-index: 1;
}

.prev {
    left: 5%;
}

.next {
    right: 5%;
} */

.slide-text {
  display: flex;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.slide-text .slide-text-title {
  width: 50%;
}

.slide-text .slide-text-title h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.5rem;
}

.slide-text .slide-text-title p {
  font-weight: 400;
}

.slide-text .join-us-btn {
  width: 30%;
  border: 3px solid var(--secondary-color);
  padding: 20px;
  text-align: center;
  background-color: white;
  color: black;
  font-weight: 350;
  font-size: 18px;
  padding-bottom: 40px;
}

.slide-text .join-us-btn p {
  padding-bottom: 10px;
}

.slide-text .line {
  background-color: var(--secondary-color);
  width: 100px;
  height: 3px;
}

/* Animation for image transition */
.image-fade-enter {
  opacity: 0;
}

.image-fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.image-fade-exit {
  opacity: 1;
}

.image-fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

@media screen and (max-width: 650px) {
  .slideshow-container {
    padding-top: 50px;
  }

  .slide-text {
    top: 70%;
    font-size: 10px;
    width: 100%;
    flex-direction: column;
    padding-right: 5%;
    padding-left: 5%;
  }

  .slide-text .slide-text-title {
    width: 100%;
  }

  .slide-text .join-us-btn {
    width: 100%;
  }

  .slide-text .slide-text-content p {
    line-height: 1.5rem;
  }

  .slide-text .slide-text-title h1 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
  }

  .slide-text .slide-text-title p {
    font-weight: 400;
  }

  .slide-text .join-us-btn {
    margin-top: 40px;
    width: 80%;
    font-size: 18px;
    padding-bottom: 40px;
  }

  .slide-text .join-us-btn p {
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 651px) and (max-width: 1024px) {
  .slide-text {
    width: 90%;
    padding-right: 0%;
    padding-left: 0%;
  }
}
