.photo-gallery {
    margin-top: 100px;
    transition: filter 0.3s ease;
}

.photo-gallery-grid {
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 30px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.gallery-grid-01 .grid-photo {
    height: 400px;
    margin-bottom: 30px;
}

.gallery-grid-02 .grid-photo {
    height: 600px;
    margin-bottom: 30px;
}

.gallery-grid-03 .grid-photo {
    height: 500px;
    margin-bottom: 30px;
}

.grid-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.grid-photo {
    position: relative;
    background-color: var(--primary-color);
}

.grid-photo img:hover {
    opacity: .2;
    cursor: pointer;
}

.grid-photo:hover i {
    visibility: visible;
}

.grid-photo i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    visibility: hidden;
    transition: ease-in-out .3s;
}

.show-photo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
    transition: all ease-in-out .5s;
}

.show-photo-block {
    display: block;
    transition: all ease-in-out .5s;
}

.show-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fadeInSide 0.4s forwards;
}

.blur {
    filter: blur(10px);
    pointer-events: none;
}


@keyframes fadeInSide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 650px) {
    .photo-gallery {
        margin-top: 100px;
        transition: filter 0.3s ease;
    }

    .photo-gallery-grid {
        grid-template-columns: 100%;
        grid-gap: 15px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .gallery-grid-01 .grid-photo {
        height: 400px;
        margin-bottom: 20px;
    }

    .gallery-grid-02 .grid-photo {
        height: 400px;
        margin-bottom: 20px;
    }

    .gallery-grid-03 .grid-photo {
        height: 400px;
        margin-bottom: 20px;
    }

    .show-photo {
        padding-left: 0%;
        padding-right: 0%;
        height: auto;
        padding-top: 50%;
        padding-bottom: 50%;
    }


}