@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@700&display=swap');

:root {
  --total-width: 100%;
  --remaining-width: calc(var(--total-width) - 380px);
  --average-width: calc(var(--remaining-width) / 2);
  --primary-color: #045a7b;
  --secondary-color: #07aef5;
  --light-blue: #ecf1f1;
  --blog-text: #777777;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  /* Hide overflow to prevent scrolling when blurred */
  transition: filter 0.3s ease;
}

body p {
  font-size: 15px;
}

body li {
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: linear-gradient(100deg, #045a7b, #07aef5);
  color: white;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 13px;
  cursor: pointer;
}

body h6 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

body h5 {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}

body h4 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

body h3 {
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
}

body h2 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

body h1 {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}

.loading-com {
  text-align: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 650px) {
  body p, ul li {
      font-size: 14px;
    }

    body h6 {
    font-size: 14px;
  }

  body h5 {
    font-size: 15px;
  }

  body h4 {
    font-size: 16px;
  }

    body h3 {
      font-size: 17px;
    }

    body h2 {
      font-size: 18px;
    }

    body h1 {
      font-size: 20px;
    }
}
